[submodule "digital_twin/mujoco_toolbox"]
    path = digital_twin/mujoco_toolbox
    url = https://github.com/MGross21/mujoco-toolbox.git
    branch = main

[submodule "digital_twin/armctl"]
	path = digital_twin/armctl
	url = https://github.com/MGross21/armctl.git
	branch = main