numpy
pandas
matplotlib
pip
scipy
ultralytics

# Custom Packages (editable mode)
-e git+https://github.com/MGross21/mujoco-toolbox.git@dev#egg=mujoco-toolbox
-e git+https://github.com/MGross21/agnostic-controller.git@main#egg=agnostic-controller